@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --light: #fffaf0;
  --dark: #111;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --primary: #ff4500;
  --secondary-dk: #008080;
  --secondary-lg: #87ceeb;
  --b-radius: 3px;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-sm: 5px;
  --size-md: 10px;
  --size-lg: 15px;
  --size-xl: 20px;
  --font-main: 'League Spartan', sans-serif;
  --font-logo: 'Amatic SC', sans-serif;
  --transition: all 0.3s ease;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-main);
}

.landing-page-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.landing-page-wrapper {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)),
    url('./images/landing-bg.jpg') no-repeat center;
  background-size: cover;
  border-radius: var(--b-radius);
  border: var(--size-1) solid var(--secondary-dk);
  height: 90vh;
  width: 95%;
  margin: 5vh 2.5%;
  position: relative;
  animation: fade 1.5s;
}

.landing-page-heading {
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  color: var(--light);
  text-shadow: var(--size-3) var(--size-3) var(--size-2) var(--dark);
  letter-spacing: var(--b-radius);
  margin-top: 60px;
}

.landing-inputs-wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: var(--primary);
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
  padding:  var(--size-xl);
  border: var(--size-1) solid var(--secondary-dk);
  border-radius: var(--b-radius); 
  animation: fade 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-inputs-wrapper input {
  display: block;
  width: 300px;
  font-family: inherit;
  font-size: 17px;
  padding: var(--size-lg) var(--size-md);
  margin: var(--size-md) auto;
  background: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--b-radius);
  outline: none;
  transition: var(--transition);
}

.landing-inputs-wrapper input::placeholder {
  color: var(--grey-lg);
}

.start-quiz-btn {
  display: block;
  width: 300px;
  color: var(--light);
  background: transparent;
  font-family: inherit;
  font-size: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  padding: var(--size-lg) var(--size-md);
  margin: var(--size-md) auto;
  border: var(--size-1) solid var(--secondary-dk);
  border-radius: var(--b-radius);
  transition: var(--transition);
}

.start-quiz-btn:active {
  transform: scale(0.98);
}

.start-quiz-btn:hover {
  color: var(--dark);
  border-color: var(--light);
  background: var(--light);
}
