@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --light: #fffaf0;
  --dark: #111;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --primary: #ff4500;
  --secondary-dk: #008080;
  --secondary-lg: #87ceeb;
  --b-radius: 3px;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-sm: 5px;
  --size-md: 10px;
  --size-lg: 15px;
  --size-xl: 20px;
  --font-main: 'League Spartan', sans-serif;
  --font-logo: 'Amatic SC', sans-serif;
  --transition: all 0.3s ease;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-main);
}

.landing-page-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.landing-page-wrapper {
  position: relative;
  height: 90vh;
  width: 95%;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)),
    url('./images/landing-bg.jpg') no-repeat center;
  background-size: cover;
  border-radius: var(--b-radius);
  border: var(--size-1) solid var(--secondary-dk);
  margin: 5vh 2.5%;
  animation: fade 1.5s;
}

.landing-page-heading {
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  color: var(--light);
  text-shadow: var(--size-3) var(--size-3) var(--size-2) var(--dark);
  letter-spacing: var(--b-radius);
  margin-top: 60px;
}

.landing-inputs-wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
  padding:  var(--size-xl);
  border: var(--size-1) solid var(--secondary-dk);
  border-radius: var(--b-radius); 
  animation: fade 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-inputs-wrapper input {
  display: block;
  width: 300px;
  font-family: inherit;
  font-size: 17px;
  padding: var(--size-lg) var(--size-md);
  margin: var(--size-md) auto;
  background: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--b-radius);
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}

.landing-inputs-wrapper input::placeholder {
  color: var(--grey-lg);
}

.start-quiz-btn {
  display: block;
  width: 300px;
  color: var(--light);
  background: transparent;
  font-family: inherit;
  font-size: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  padding: var(--size-lg) var(--size-md);
  margin: var(--size-md) auto;
  border: var(--size-1) solid var(--secondary-dk);
  border-radius: var(--b-radius);
  transition: var(--transition);
  cursor: pointer;
}

.start-quiz-btn:active {
  transform: scale(0.98);
}

.start-quiz-btn:hover {
  color: var(--dark);
  border-color: var(--light);
  background: var(--light);
}

.admin-panel-container {
  position: relative;
  height: 90vh;
  width: 95%;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)),
    url('./images/admin-bg.jpg') no-repeat center;
  background-size: cover;
  border-radius: var(--b-radius);
  border: var(--size-1) solid var(--secondary-dk);
  margin: 5vh 2.5%;
  animation: fade 0.8s;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: var(--size-md);
}

.admin-panel-wrapper,
.results-list-container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: var(--b-radius);
  border: var(--size-1) solid var(--secondary-dk);
  padding: var(--size-xl);
  overflow: auto;
}

.admin-panel-wrapper::-webkit-scrollbar,
.results-list-container::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
  width: var(--size-md);
}

.admin-panel-wrapper::-webkit-scrollbar-thumb,
.results-list-container::-webkit-scrollbar-thumb {
  background: var(--grey-dk);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-lg);
}

.header h2 {
  font-size: 30px;
  font-weight: 400;
  color: var(--light);
}

.forms-wrapper  {
  display: grid;
  gap: var(--size-md);
  margin-bottom: var(--size-lg);
}

.new-question-text {
  display: block;
  width: 50%;
  height: 60px;
  max-width: 500px;
  min-width: 300px;
  color: var(--light);
  background: var(--primary);
  font-size: 18px;
  padding: 7px;
  margin: var(--size-md) 0 var(--size-md) 80px;
  border: none;
  border-radius: var(--b-radius);
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}

.new-question-text::placeholder {
  color: var(--grey-lg);
}

.admin-option-wrapper {
  position: relative;
  width: 70%;
}

.forms-wrapper input[type='text'] {
  display: block;
  width: 300px;
  font-family: inherit;
  font-size: 17px;
  padding: var(--size-md) var(--size-xs);
  margin: var(--size-md) 0 var(--size-sd) 80px;
  background: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--b-radius);
  outline: none;
  transition: var(--transition);
  cursor: pointer;
  animation: fade 0.8s;
}

.form-wrapper input[type='text']::placeholder {
  color: var(--grey-lg);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.forms-wrapper input[type='radio'] {
  position: absolute;
  left: 60px;
  top: 15px;
  color:blue;
}

.question-insert-btn {
  width: 120px;
  color: var(--light);
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  padding: var(--size-md);
  margin-left: 80px;
  border: var(--size-1) solid var(--secondary-dk);
  border-radius: var(--b-radius);
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

.question-insert-btn:active {
  transform: scale(0.98);
}

.question-insert-btn:hover {
  color: var(--dark);
  border-color: var(--light);
  background: var(--light);
}

.admin-logout-btn {
  width: 110px;
  color: var(--light);
  background: transparent;
  font-family: inherit;
  font-size: 15px;
  float: right;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  padding: var(--size-md);
  margin: 20px;
  border: var(--size-1) solid var(--secondary-dk);
  border-radius: var(--b-radius);
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

.question-logout-btn:active {
  transform: scale(0.98);
}

.question-logout-btn:hover {
  color: var(--dark);
  border-color: var(--light);
  background: var(--light);
}
